body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 1em;
    background-color: white;
    margin: 0.5em 0;
}

section h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 0.5em;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 0.5em 0 0.2em;
}

form input, form textarea {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

form button {
    padding: 0.7em;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    header, section, footer {
        padding: 1em;
    }

    section h2 {
        font-size: 1.2em;
    }

    form button {
        width: 100%;
    }
}
.photo-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Jarak antara foto-foto */
}
.photo-container img {
    width: 100px; /* Lebar setiap foto */
    height: auto; /* Pertahankan rasio aspek */
}